.customer-profiling {
  .profile-selector {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    padding: 51px 24px 16px;
    margin-bottom: 16px;
    position: relative;

    label {
      font-weight: bold;
      text-transform: none;
    }

    .profile-selector-delete-button {
      position: absolute;
      top: 12px;
      right: 16px;
    }

    .profile-selector-labels,
    .profile-selector-row {
      display: flex;
      margin-bottom: 8px;

      .profile-selector-form-control {
        display: block;
        background-color: white;
      }

      .field-input {
        margin-right: 4px;
        flex: 2;
      }

      .comparator-input {
        margin-right: 4px;
        width: 100px;
      }

      .value-input {
        flex: 1;
      }
    }
  }

  .mass-upload-count {
    margin-top: 8px;
    margin-left: 8px;
  }

  .tab-content-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;

    .tab-content-footer-remove-btn {
      text-transform: capitalize;
    }

    .tab-content-footer-select-btn {
      margin-left: 16px;
    }
  }
}
.customer-profiling-rules-wrapper{
  position: relative;
  .customer-profiling-rules-loading{
    position: absolute;
    z-index:1;
    .spinner-border{
      display: none;
    }
  }
}